.open-button{
  align-items: center;
  height: 3rem;
}

.title-card-modal {
  text-align: center;
}

.header-table, .items-table {
  text-align: center;
}

ion-list{

  ion-item {
    border-top: 1px solid black;
  }
}
