<ion-app>
  <ion-menu menuId="main-menu" content-Id="main">
    <ion-header>
      <ion-toolbar color="tertiary">
        <ion-title>
          Menu
        </ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list>
        <ion-menu-toggle>
          <ion-item routerLink="home">
            <ion-icon name="home-outline" slot="start"></ion-icon>
            <ion-label>Home</ion-label>
          </ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle>
          <ion-item routerLink="dashboard">
            <ion-icon name="analytics-outline" slot="start"></ion-icon>
            <ion-label>DashBoard</ion-label>
          </ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle>
          <ion-item routerLink="mienbros">
            <ion-icon name="people-outline" slot="start"></ion-icon>
            <ion-label>Mienbros / Integrantes</ion-label>
          </ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle>
          <ion-item routerLink="asistencia">
            <ion-icon name="checkmark-done-outline" slot="start"></ion-icon>
            <ion-label>Asistencia</ion-label>
          </ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle>
          <ion-item routerLink="reporte">
            <ion-icon name="document-text-outline" slot="start"></ion-icon>
            <ion-label>Reporte</ion-label>
          </ion-item>
        </ion-menu-toggle>
      </ion-list>
    </ion-content>
  </ion-menu>
  <ion-router-outlet id="main"></ion-router-outlet>
</ion-app>
